body {
    font-family:'Candara';
    background: ivory;
    color: black;
}

.center-container {
    text-align: center;
}

.links a {
    margin-right: 150px; /*Space within the hyperlinks*/
    text-decoration: none; /*Remove underlines*/
    color:lightcoral;
}
.links a:hover {
    color:rgb(53, 132, 222);  /* Add another color when pointing the cursor to the hyperlink*/
}

.content {
    font-size: 14px;
    margin-left: 50px;
}
.content h1 {
    font-size: 50px;
}

